@{      ViewData["Title"] = "Home Page";
}


<main class="mt-5">
    <div class="container">

        <hr class="my-5" />

        <section class="text-center">
            <h4 class="mb-5"><strong>Select the language you want to learn</strong></h4>

            <div class="row">
                <div class="col-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="https://images.pexels.com/photos/460672/pexels-photo-460672.jpeg?auto=compress&cs=tinysrgb&w=1600"
                                 class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">See English Instructors</h5>
                            <p class="card-text">
                                Check the instructor and then take the meeting!
                            </p>
                            <a href="#!" class="btn btn-dark">English</a>
                        </div>
                    </div>
                </div>

                <div class="col-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="https://images.pexels.com/photos/36474/dresden-semper-opera-house-historically-at-night.jpg?auto=compress&cs=tinysrgb&w=1600"
                                 class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">See German Instructors</h5>
                            <p class="card-text">
                                Check the instructor and then take the meeting!
                            </p>
                            <a href="#!" class="btn btn-dark">German</a>
                        </div>
                    </div>
                </div>

                <div class="col-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="https://images.pexels.com/photos/373290/pexels-photo-373290.jpeg?auto=compress&cs=tinysrgb&w=1600"
                                 class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">See Korean Instructors</h5>
                            <p class="card-text">
                                Check the instructor and then take the meeting!
                            </p>
                            <a href="#!" class="btn btn-dark">Korean</a>
                        </div>
                    </div>
                </div>

                <div class="col-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="https://images.pexels.com/photos/2064827/pexels-photo-2064827.jpeg?auto=compress&cs=tinysrgb&w=1600"
                                 class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">See Italian Instructors</h5>
                            <p class="card-text">
                                Check the instructor and then take the meeting!
                            </p>
                            <a href="#!" class="btn btn-dark">Italian</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr class="my-5" />

        <section class="mb-5">
            <h4 class="mb-5 text-center"><strong>quick subscription</strong></h4>

            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <form>
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline">
                                    <input type="text" id="form3Example1" class="form-control" />
                                    <label class="form-label" for="form3Example1">First name</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline">
                                    <input type="text" id="form3Example2" class="form-control" />
                                    <label class="form-label" for="form3Example2">Last name</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="email" id="form3Example3" class="form-control" />
                            <label class="form-label" for="form3Example3">Email address</label>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="password" id="form3Example4" class="form-control" />
                            <label class="form-label" for="form3Example4">Password</label>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-dark btn-block mb-4">
                                Sign up
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </section>
    </div>



 



