@model Instructor

<div class="col-4">
    <div class="card mb-2">
        <div class="card-img text-center p-2">
            <img src="~/images/@Model.ImageUrl" alt="" width=270px, height="200px" style="object-fit: cover";>
        </div>
        <div class=card-body>
            <h5 class="card-title text-dark text-center">@Model.Name @Model.LastName</h5>
            <div class="text-muted ps-2 text-center">@Model.OneHourPrice $
            <br />
                <p>@Model.Description</p>
            </div>
        </div>
        <div class="card-footer bg-light d-flex justify-content-around">

            <a class="btn btn-sm btn-dark" asp-controller="OzelDers" asp-action="Details"
               asp-route-url=@Model.Url>Details</a>
                <a class="btn btn-sm btn-dark" href="mailto:">
                    Contact with me
                </a>
        </div>
    </div>
</div>