@* Bu partial viewin tek amacı instructor yok ise bunu söylemek. *@
<div class="row">
    <div class="col-12">
        <div class="alert alert-danger">
            No Instructors
        </div>
    </div>
</div>