@{
    ViewData["Title"] = "HowItWorks";
}


<div class="container-fluid p-5 bg-img p-2 text-center"
     style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoPGD1-xIqrTAgJXm1ClLzb1Alux8r7_xokqN3vZkdC-SmBr7rEolZQ-WIkwidHzGO0YE&usqp=CAU'); height: 27vh">
    <h1>How It Works</h1>
    <p>We will show you step by step how to connect your instuctors.</p>
</div>

<div class="container mt-5">
    <div class="row text-center">
        <div class="col-sm-4">
            <div class="card border-dark mb-3" style="max-width: 38rem;">
                <div class="card-body text-dark">
                    <h5 class="card-title">Register</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-dark mb-3" style="max-width: 38rem;">
                
                <div class="card-body text-dark">
                    <h5 class="card-title">Choose an instructor</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-dark mb-3" style="max-width: 38rem;">
                <div class="card-body text-dark">
                    <h5 class="card-title">Take the zoom meeting</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
            </div>
        </div>
    </div>
</div>
